.contact-form input{
    margin: 12px 0px;
    padding: 10px;
    font-size: 11pt;
    border-radius: 6px;
    outline: none;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    border: 0px solid white;
}

.contact-form button{
    width: 100%;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;        
    border: 0px solid #9fd067;
    text-decoration: none;
    background-color: #9fd067;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    color: white;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0;
    overflow: visible;
    padding: 10px 20px 10px 20px;
    position: relative;
    margin-top: 2rem;
    cursor: pointer;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
}

.contact-form button:focus{
    outline: none;
    border: 0px solid white;

}
.contact-form button:hover{
    background: #86c440;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}